<a href="https://colab.research.google.com/github/dkapitan/scik/blob/master/notebooks/ggd-rijnmond-rotterdam-covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# make sure we're using pandas >= 1.0 and we need CBS OData
!pip install update pandas cbsodata

In [0]:
import requests
from zipfile import ZipFile
from io import BytesIO, StringIO

from bs4 import BeautifulSoup
import pandas as pd
import cbsodata


def get_gwb():
    """
    Retrieves data from CBS for mapping each address to buurt, wijk and gemeente from 2019.

    Returns:
      list of length 4 with dataframes [buurt, gemeente, mapping address --> gwb, wijken]

    Source: https://www.cbs.nl/nl-nl/maatwerk/2019/42/buurt-wijk-en-gemeente-2019-voor-postcode-huisnummer
    Numeric columns are downcasted to uint16 to lower memory footprint
    """
    URL = 'https://www.cbs.nl/-/media/_excel/2019/42/2019-cbs-pc6huisnr20190801_buurt.zip'
    get_ = requests.get(URL)
    with ZipFile(BytesIO(get_.content)) as zipfile:
      dfs = [pd.read_csv(zipfile.open(file),
                          delimiter=';',
                          )
              for file in zipfile.namelist()
             ]
    for df in dfs:
      df.loc[:, df.select_dtypes('int64').columns] = df.select_dtypes('int64').astype('uint16')
    return dfs


def get_kerncijfers_gwb():
  """
  Retrieves Kerncijfers Wijken en Buurten from 2019
  """
  URL = 'https://www.cbs.nl/-/media/cbs/dossiers/nederland%20regionaal/wijk-en-buurtstatistieken/_exel/kwb-2019.xls'
  return pd.read_excel(URL)


def get_rivm_data():
  """
  Scrapes RIVM website for number of reported hospitalizations per gemeente.
  """
  RIVM = 'https://www.rivm.nl/actuele-informatie-over-coronavirus'
  rivm = requests.get(RIVM)
  soup = BeautifulSoup(rivm.content, 'html.parser')
  data = StringIO(soup.find(id='csvData').text)
  return pd.read_csv(data, sep=';', skip_blank_lines=1)


def get_regionale_indelingen():
  """
  Retrieves regionale indelingen from CBS.

  https://opendata.cbs.nl/statline/portal.html?_catalog=CBS&_la=nl&tableId=84721NED&_theme=232
  """
  return pd.DataFrame(cbsodata.get_data('84721NED'))


def get_data_ggd_rijnmond():
  """ Retrieves data from GGD Rijnmond on number of positive tests"""
  URL = 'https://www.ggdrotterdamrijnmond.nl/nieuws/patienten-coronavirus-in/'
  df = pd.read_html(URL, header=0)[0].iloc[0:-1,:]
  df.iloc[:,-1] = pd.to_numeric(df.iloc[:,-1], downcast='unsigned')
  rename = {k: v for k,v in zip(df.columns, ('gemeente', 'aantal_positief_getest'))}
  return df.rename(columns=rename)

In [0]:
# load all data
buurt, gemeente, adres, wijk = get_gwb()
kerncijfers = get_kerncijfers_gwb()
kerncijfers_gemeente = kerncijfers.loc[kerncijfers.recs == 'Gemeente',:]
rivm = get_rivm_data()
gebieden = get_regionale_indelingen()
ggd010 = get_data_ggd_rijnmond()

In [122]:
df = (ggd010
      .replace({'Capelle a/d IJssel': 'Capelle aan den IJssel', 'Krimpen a/d IJssel': 'Krimpen aan den IJssel'})
      .join(rivm.set_index('Gemeente'), 'gemeente')
      .rename(columns={'Aantal': 'aantal_ziekenhuisopnames',
                       'BevAant': 'aantal_inwoners',
                       'Gemnr': 'gemeente_code',
                       'gemeente': 'gemeente_naam',
                       'Aantal per 100.000 inwoners': 'prevalentie_ziekenhuisopnames'})
      .assign(prevalentie_positief_getest=lambda df: (df.aantal_positief_getest/df.aantal_inwoners*10**5).astype('uint8'))
      .loc[:, ['gemeente_code',
          'gemeente_naam',
          'aantal_inwoners',
          'aantal_positief_getest',
          'aantal_ziekenhuisopnames',
          'prevalentie_positief_getest',
          'prevalentie_ziekenhuisopnames']]
      .sort_values('gemeente_naam')
)
df

    gemeente_code  ... prevalentie_ziekenhuisopnames
0             613  ...                          19.5
1             489  ...                          43.1
2             501  ...                          40.5
3             502  ...                          34.3
4            1924  ...                          69.9
5             530  ...                          19.9
6             542  ...                          13.5
7            1621  ...                          35.3
8             556  ...                          30.1
9            1930  ...                          28.2
10            597  ...                          56.3
11            599  ...                          27.8
12            606  ...                          30.5
13            622  ...                          27.2
14            614  ...                          33.9

[15 rows x 7 columns]

In [106]:
gemeente

     Gemcode2019   Gemeentenaam2019
0              3         Appingedam
1             10           Delfzijl
2             14          Groningen
3             24          Loppersum
4             34             Almere
..           ...                ...
350         1963     Hoeksche Waard
351         1966       Het Hogeland
352         1969     Westerkwartier
353         1970  Noardeast-Fryslân
354         1978        Molenlanden

[355 rows x 2 columns]

In [58]:
gebieden.loc[:,['Code_14', 'Naam_15']].drop_duplicates()

       Code_14                                            Naam_15
0   GG0706      GGD Drenthe                                   ...
1   GG3406      GGD Amsterdam                                 ...
2   GG1413      GGD Noord- en Oost-Gelderland                 ...
3   GG7206      GGD Fryslân                                   ...
4   GG4816      Dienst Gezondheid & Jeugd ZHZ                 ...
5   GG4607      GGD Rotterdam-Rijnmond                        ...
6   GG2707      GGD Hollands-Noorden                          ...
7   GG1106      GGD Regio Twente                              ...
8   GG2209      GGD Flevoland                                 ...
9   GG4506      GGD Hollands-Midden                           ...
10  GG5206      GGD West-Brabant                              ...
13  GG2514      GGD Regio Utrecht                             ...
17  GG0111      GGD Groningen                                 ...
18  GG1911      Veiligheids- en Gezondheidsregio Gelderland-Mi...
20  GG5608      GGD Brabant-Zuidoost                          ...
25  GG6106      GGD Zuid-Limburg                              ...
27  GG7306      GGD Zaanstreek/Waterland                      ...
28  GG6011      GGD Limburg-Noord                             ...
29  GG2014      GGD Gelderland-Zuid                           ...
35  GG5406      GGD Hart voor Brabant                         ...
38  GG3109      GGD Kennemerland                              ...
41  GG3606      GGD Gooi en Vechtstreek                       ...
47  GG5006      GGD Zeeland                                   ...
64  GG1009      GGD IJsselland                                ...
66  GG7014      GGD Haaglanden                                ...

IndexError: ignored